

.searchbar-div {
    background-color: rgba(189, 186, 186, 0.332);
    display: flex;
    justify-content: space-between;
    border: none;
    width: 280px;
    height: 45px;
    border-radius: 6px;
    
}
.searchbar-div input{
    height: 100%;
    width: 80%;
    border-radius: 6px;
    border: none;
    background-color: rgba(189, 186, 186, 0);
    padding-left: 15px;
}
.searchbar-div input:focus{
    outline: none;
}
.searchbar-div .serch-icon{
    font-size: 23px;
    margin-top: 10px;
    margin-right: 5px;
}